:root {
    --dark-color: #3A3A3A;
    --red: #E77474;
    --yellow: #EDED86;
    --green: #9EEA70;
    --blue: #718FEA;
}

body {
    text-align: center;
    background-color: var(--dark-color, darkgrey);
    font-family: 'Raleway', sans-serif;
}

#quote {
    height: 200px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: white;
    border-radius: 5px;
    margin: 25px auto;
    padding: 25px;
    max-width: 400px;
    height: auto;
}

.title {
    color: var(--dark-color, darkgrey);
    margin: 0 auto;
    padding: 0px;
    width: 400px;
    font-weight: 600;
}

.quote-text {
    font-style: italic;
    margin: 20px auto;
}

.quote-author {
    margin: 10px auto;
    color: var(--dark-color, darkgrey);
    font-weight: 600;
}


.button {
    border: none;
    border-radius: 5px;
    background-color: lightgrey;
    height: 30px;
    color: white;
    width: 100px;
}

.button:hover {
    background-color: darkgrey;
}

.button:focus {
    outline: none;
}